$color-main-bg-dark:#001800;
$color-sub-bg-dark:#000a00;
$color-main-bg-light:rgb(197, 248, 182);
$color-sub-bg-light:rgba(248, 255, 246, 0.904);
$color-main-text-dark:#0e4d0e;
$color-sub-text-dark:rgb(49, 223, 107);
$color-main-text-light: rgb(173, 252, 148);
$color-sub-text-light:rgb(49, 223, 107);
$color-border-dark:#001800;
$color-border-light:rgb(173, 252, 148);
$color-inputbg:rgba(48, 49, 47, 0.589);


// Mixin pour les thèmes
@mixin theme-dark {
    --main-bg: #{$color-main-bg-dark};
    --sub-bg : #{$color-sub-bg-dark};
    --text-primary: #{$color-main-text-light};
    --text-secondary: #{$color-sub-text-light};
    --primary-color: #{$color-main-text-light};
    --secondary-color: #{$color-sub-bg-dark};
    --border-color: #{$color-border-light};
}

@mixin theme-light {
    --main-bg: #{$color-main-bg-light};
    --sub-bg : #{$color-sub-bg-light};
    --text-primary: #{$color-main-text-dark};
    --text-secondary: #{$color-sub-text-dark};
    --primary-color: #{$color-main-text-light};
    --secondary-color: #{$color-sub-bg-light};
    --border-color: #{$color-border-dark};
}


// Thème sombre par défaut
@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;
  }
}

// Thème clair par défaut
@media (prefers-color-scheme: light) {
  :root {
    @include theme-light;
  }
}
// Appliquer les thèmes en fonction du mode

body {
  font-family: 
    -apple-system, BlinkMacSystemFont, "Segoe UI",
     Roboto, Oxygen, Ubuntu, Cantarell,
      "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

